body {
  
  background: #030b14;
  color: #ffffff;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
h2{
  margin-top: 0;
}

@media (max-width: 1330px) {
  * {
    font-size: 90%;
    /* Decrease font size by 20% */
  }

  .mapButton {
    width: 50px;
  }
}

@media (max-width: 950px) {
  * {
    font-size: 70%;
    /* Decrease font size by 20% */
  }

  .mapButton {
    width: 40px;
  }
}

@media (max-width: 810px) {
  .mainTitle{
    flex-wrap: wrap;
  }

  h1{
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .mainData{
    width: 50%;
  }
  .mainContent{
    width: 50%;
  }
}

@media (max-width: 315px) {

}



.mapButton {
  position: relative;
  transition: transform 0.05s ease-in-out, background-color 0.15s ease-in-out;
  background-color: #404040;
  color: #ffffff;
  width: 60px;
}

.mapButton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 255, 0.2);
  /* Adjust the color as needed */
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.15s ease-in-out;
}


.mapButton:active {
  outline: none;
  transform: scale(0.95);
  /* Adjust the scale factor as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingbar {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}