body {
  background: #030b14;
  color: #ffffff;
  height: 100%;
}

/*Desktop*/
h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
  /* default font size */
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
  /* default font size */
}

h3 {
  font-size: 1.5rem;
  /* default font size */
}



/*Desktop*/
#mainData {
  width: 20%;
  transition: width 0.3s ease;
}

#mainData.hidden{
 width: 0;
}

#hideButton {
  top: 50%;
  position: absolute;
  background-color: #030b14;
  color: #ffffff;
  font-size: 15px;
  transition: left 0.3s ease;
  left: 20%;
}

#hideButton.hidden {
  top: 50%;
  position: absolute;
  background-color: #030b14;
  color: #ffffff;
  font-size: 15px;
  transition: left 0.3s ease;
  left: 0;
}

.mapButton {
  transition: transform 0.05s ease-in-out, background-color 0.15s ease-in-out;
  background-color: #404040;
  color: #ffffff;
  width: 60px;
}

.mapButton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 255, 0.2);
  /* Adjust the color as needed */
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.15s ease-in-out;
}

.mapButton:active {
  outline: none;
  transform: scale(0.95);
  /* Adjust the scale factor as needed */
}



/* Mobile */
@media (max-width: 590px) {
  .mapButton {
    width: 35px;
  }

  #mainData {
    width: 40%;
  }

  #hideButton {
    left: 40%;
  }

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingbar {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


/* Mobile */
@media (max-width: 1330px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .mapButton {
    width: 50px;
  }
}

@media (max-width: 790px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .mapButton {
    width: 45px;
  }
}

@media (max-width: 690px) {


  h3 {
    font-size: 0.8rem;
  }

  .mapButton {
    width: 35px;
  }
}

@media (max-width: 590px) {

  h3 {
    font-size: 1rem;
  }

  .mapButton {
    width: 30px;
  }

  #icon8{
    font-size: .7rem;
  }
}

@media (max-width: 415px) {

  h3 {
    font-size: 0.8rem;
  }

  .mapButton {
    width: 25px;
  }
}

@media (max-width: 300px) {

  #mainData {
    width: 50%;
  }

  #hideButton {
    left: 50%;
  }

  h3 {
    font-size: 0.9rem;
  }
}